/* .vis-bottom {
  bottom: 0px !important;
  top: auto !important;
   position: fixed !important;
  background-color: #fff;
  z-index: 0;
}

.vis-left {
  background-color: #fff;
} */

.vis-labelset .vis-label .vis-inner {
  max-width: 20vh;
}

.vis-inner {
  padding-left: 0px !important;
}

nav {
  z-index: 10;
}

.timelineModalBody {
  display: flex;
  justify-content: center;
}

.dateRangeModalButton {
  z-index: 10;
  position: relative;
}

.clearRangeButton {
  z-index: 10;
  position: absolute;
  left: 170px;
  top: 56px;
}

.pers-inf-field-differ {
  background-color: #28a7455c;
}

.fixed-to-right {
  position: absolute;
  top: 63px;
  right: 10px;
}