.map {
    height: 400px;
    width: 400px;
    align-self: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-checkbox {
    width: 30px !important;
}

.modal-field-differ {
    background-color: #28a7455c;
}

.pers-inf-field-differ {
    background-color: #28a7455c;
}